---
import Layout from "../../layouts/Layout.astro";

import { CollectionEntry, getCollection } from "astro:content";

import Product from "../../components/Product.astro";
import instruments from "../../data/instruments.json";

export async function getStaticPaths() {
	const posts = await getCollection("instrumento");
	return posts.map((item) => ({
		params: { slug: item.slug },
		props: {
			instrumento: item,
		},
	}));
}
type Props = CollectionEntry<"instrumento">;

const { instrumento } = Astro.props;
const { Content } = await instrumento.render();

const { slug } = Astro.params;

if (!slug) {
	throw new Error("No slug provided");
}

const re = new RegExp(slug, "gi");
---

<Layout>
	<Content />
	<h2>Los mejores {instrumento.data.plural} de {new Date().getFullYear()}</h2>
	<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4">
		{
			instruments
				.filter((i) => i.name.match(re) || i.keywords?.match(re))
				.slice(0, 4)
				.map((instrument) => {
					return <Product {...instrument} vertical />;
				})
		}
	</div>
</Layout>
