---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
	<h1>¿Qué instrumento deberías elegir para empezar a tocar?</h1>
	<p>
		En esta sección te ayudaremos a elegir el instrumento que más se adapte
		a tus necesidades y a tu presupuesto.
	</p>
	<h2>Elegir el <strong>surdo</strong> para empezar</h2>
	<p>
		El surdo es uno de los instrumentos fundamentales de la batucada, un
		estilo de música y baile originario de Brasil. Tocar el surdo en una
		batucada tiene varias ventajas, entre ellas:
	</p>
	<ul class="list-decimal pl-4">
		<li class="mb-4">
			Es un instrumento muy versátil: El surdo se puede tocar en
			diferentes ritmos y estilos de batucada, lo que lo hace muy versátil
			y adaptable a diferentes contextos y situaciones.
		</li>
		<li class="mb-4">
			Es fácil de aprender: Si bien la técnica del surdo requiere práctica
			y dedicación, es un instrumento relativamente fácil de aprender para
			principiantes. Además, en la mayoría de las batucadas, los músicos
			más experimentados suelen ayudar a los principiantes a aprender y
			mejorar.
		</li>
		<li class="mb-4">
			Es un instrumento muy gratificante: Tocar el surdo en una batucada
			puede ser una experiencia muy gratificante, ya que permite formar
			parte de un grupo de músicos y contribuir al ritmo y la energía de
			la música y el baile. Además, el sonido profundo y resonante del
			surdo puede generar una gran emoción en el público y en los propios
			músicos.
		</li>
	</ul>
	<h2>Elegir la <strong>caixa</strong> para empezar</h2>
	<p>
		El surdo es uno de los instrumentos fundamentales de la batucada, un
		estilo de música y baile originario de Brasil. Tocar el surdo en una
		batucada tiene varias ventajas, entre ellas:
	</p>
	<ul class="list-decimal pl-4">
		<li class="mb-4">
			Es un instrumento muy versátil: El surdo se puede tocar en
			diferentes ritmos y estilos de batucada, lo que lo hace muy versátil
			y adaptable a diferentes contextos y situaciones.
		</li>
		<li class="mb-4">
			Es fácil de aprender: Si bien la técnica del surdo requiere práctica
			y dedicación, es un instrumento relativamente fácil de aprender para
			principiantes. Además, en la mayoría de las batucadas, los músicos
			más experimentados suelen ayudar a los principiantes a aprender y
			mejorar.
		</li>
		<li class="mb-4">
			Es un instrumento muy gratificante: Tocar el surdo en una batucada
			puede ser una experiencia muy gratificante, ya que permite formar
			parte de un grupo de músicos y contribuir al ritmo y la energía de
			la música y el baile. Además, el sonido profundo y resonante del
			surdo puede generar una gran emoción en el público y en los propios
			músicos.
		</li>
	</ul>
</Layout>
