---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("instrumento");
---

<Layout>
	<section class="flex flex-wrap">
		{
			posts.map((post) => (
				<div class="inline-block">
					<a href={`/instrumento/${post.slug}/`}>{post.data.title}</a>
				</div>
			))
		}
	</section>
</Layout>
