---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section>
        <h1>Aviso legal</h1>
        <p>
            Esta página web tiene como objetivo divulgar información y enlazar
            productos afiliados a través de enlaces externos. Al acceder y
            utilizar esta página web, usted acepta los términos y condiciones
            que se describen a continuación.
        </p>
        <!-- <p><strong>Titular de la página web</strong></p>
        <p>
            [Nombre del titular o denominación social]<br />
            [NIF]<br />
            [Dirección postal]<br />
            [Correo electrónico de contacto]
        </p> -->
        <p><strong>Contenido de la página web</strong></p>
        <p>
            La información y el contenido de esta página web son de carácter
            general y tienen un propósito meramente informativo. Esta página web
            no se responsabiliza del uso que se haga de la información que se
            presenta en ella.
        </p>
        <p><strong>Enlaces externos</strong></p>
        <p>
            Esta página web puede incluir enlaces a sitios web externos que no
            están bajo nuestro control. No nos responsabilizamos de la
            exactitud, actualidad o disponibilidad de la información que se
            presenta en estos sitios web externos.
        </p>
        <p><strong>Productos afiliados</strong></p>
        <p>
            Algunos de los enlaces que se presentan en esta página web pueden
            ser enlaces de afiliados, lo que significa que recibimos una
            comisión si se realiza una compra a través de ellos. Nosotros no
            somos responsables de la exactitud, calidad, seguridad o entrega de
            los productos y servicios que se presentan en estos enlaces de
            afiliados.
        </p>
        <p><strong>Propiedad intelectual</strong></p>
        <p>
            Los contenidos de esta página web están protegidos por las leyes de
            propiedad intelectual. Queda prohibida su reproducción, distribución
            o comunicación pública sin la autorización expresa del titular de la
            página web.
        </p>
        <!-- <p><strong>Ley aplicable y jurisdicción</strong></p>
        <p>
            El uso de esta página web se rige por la ley española. Cualquier
            controversia que surja en relación con el uso de esta página web se
            someterá a los juzgados y tribunales en España.
        </p>
        <p><strong>Modificaciones</strong></p>
        <p>
            Nos reservamos el derecho de modificar los términos y condiciones de
            esta página web en cualquier momento. Se recomienda revisar
            periódicamente esta página para estar al tanto de las posibles
            actualizaciones.
        </p> -->
    </section>
</Layout>
