---
import Layout from "../layouts/Layout.astro";

import brands from "../data/brands.json";
import ItemSection from "../components/ItemSection.astro";
---

<Layout>
	<h1>¿Estás buscando un instrumento de batucada?</h1>
	<p>
		Si eres un <strong>amante de la música</strong> y buscas un <strong
			>sonido único y vibrante</strong
		>, aquí encontrarás los <strong>mejores instrumentos de batucada</strong
		>. Descubre los mejores
		<strong>precios y ofertas en instrumentos de percusión</strong> para batucadas.
	</p>
	<h2>Principales instrumentos de batucada</h2>
	<p>
		La <strong>batucada</strong> es un <strong>género musical</strong> que se
		caracteriza por su <strong>ritmo y energía</strong>, y para lograrlo se
		utilizan diversos instrumentos de percusión. Entre los tambores de
		batucada más comunes se encuentran el <a
			href="/instrumento/surdo"
			class="font-bold underline">surdo</a
		>, el
		<a href="/instrumento/repinique" class="font-bold underline"
			>repinique</a
		>, el <a href="/instrumento/tamborim" class="font-bold underline"
			>tamborim</a
		> y la <a href="/instrumento/caixa" class="font-bold underline">caixa</a
		>. Cada uno de ellos tiene un sonido particular y se utiliza para crear
		diferentes ritmos y efectos en la música.
	</p>
	<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
		<ItemSection
			href="/instrumento/surdo"
			image="/images/instruments/Surdo.jpg"
			title="Surdo"
			description="El tambor principal de la batucada y se usa para marcar el ritmo de la música."
		/>
		<ItemSection
			href="/instrumento/caixa"
			image="/images/instruments/caixa.jpg"
			title="Caixa"
			description="Caracterizado por su sonido agudo y penetrante producido por una caja de resonancia estrecha y un parche tenso."
		/>
		<ItemSection
			href="/instrumento/repinique"
			image="/images/instruments/repinique.jpg"
			title="Repinique"
			description="Es un tambor de mano utilizado para tocar ritmos de samba y acentuar el ritmo general."
		/>
		<ItemSection
			href="/instrumento/cuica"
			image="/images/instruments/Cuica-profil.jpg"
			title="Cuica"
			description="Con una piel estirada en un extremo y una varilla que se frota con un paño húmedo para producir un sonido vibrante y distintivo."
		/>
		<ItemSection
			href="/instrumento/tamborim"
			image="/images/instruments/tamborim.jpg"
			title="Tamborim"
			description="Un tambor pequeño que se toca con una baqueta y se utiliza para agregar ritmos y patrones."
		/>
		<ItemSection
			href="/instrumento/agogo"
			image="/images/instruments/agogo.jpg"
			title="Agogó"
			description="Es un instrumento de percusión de metal que se utiliza para agregar ritmos y patrones."
		/>
		<ItemSection
			href="/instrumento/timbau"
			image="/images/instruments/timbau.jpg"
			title="Timbau"
			description="La timbau es un instrumento de percusión brasileño utilizado en la música de batucada, compuesto por un cuerpo cilíndrico de madera o metal."
		/>
		<ItemSection
			href="/instrumento/chocalho"
			image="/images/instruments/chocalho.jpg"
			title="Chocalho"
			description="El chocalho es un instrumento de percusión brasileño similar a una maraca, hecho con una estructura cilíndrica de madera o metal"
		/>
		<ItemSection
			href="/instrumento/pandeiro"
			image="/images/instruments/pandeiro.jpg"
			title="Pandeiro"
			description="Un tambor circular con parche de piel y platillos integrados en su marco, que se toca con una o dos manos para producir una variedad de sonidos y ritmos."
		/>
	</div>
	<p>
		Además de estos tambores, existen otros instrumentos de batucada como el
		<a href="/instrumento/agogo" class="font-bold underline">agogó</a>, el <a
			href="/instrumento/chocalho"
			class="font-bold underline">chocalho</a
		> y el reco-reco, que aportan un toque especial a la música.
	</p>
	<p>
		Los <strong
			>precios de estos instrumentos varían según la calidad y la marca</strong
		>, pero es posible encontrar opciones accesibles para quienes quieran
		iniciarse en la batucada. En definitiva, los instrumentos de batucada
		son <strong
			>esenciales para crear la música brasileña más vibrante y contagiosa</strong
		>.
	</p>
	<h2>Las mejores marcas de instrumentos de percusión para batucadas</h2>
	<p>
		Encontrarás una amplia variedad de marcas reconocidas en el mundo de la
		percusión. Son fácilmente reconocibles para músicos de todo el mundo y
		representan la calidad y el compromiso de estas marcas con la excelencia
		en la fabricación de instrumentos de percusión.
	</p>
	<div class="flex flex-wrap gap-4">
		{
			brands.map((brand) => (
				<a href={`/marca/${brand.slug}`}>
					<img
						class="object-contain h-24 grayscale saturate-200"
						src={brand.image}
						alt={brand.name}
					/>
				</a>
			))
		}
	</div>
</Layout>
