---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="container mx-auto">
			<p>
				Si eres un amante de la música y buscas un sonido único y
				vibrante, estás en el lugar correcto.
			</p>
			<p>
				Estos son los principales instrumentos que se utilizan en la
				batucada:
			</p>
			<ul>
				<li>
					Surdo: es el tambor principal de la batucada y se usa para
					marcar el ritmo de la música.
				</li>
				<li>
					Caixa: es una caja de percusión similar a una caja de ritmos
					y se utiliza para agregar ritmos y patrones.
				</li>
				<li>
					<a href="/instrumento/repinique">Repinique</a>: es un tambor
					de mano utilizado para tocar ritmos de samba y acentuar el
					ritmo general.
				</li>
				<li>
					Tamborim: es un tambor pequeño que se toca con una baqueta y
					se utiliza para agregar ritmos y patrones.
				</li>
				<li>
					Agogó: es un instrumento de percusión de metal que se
					utiliza para agregar ritmos y patrones.
				</li>
				<li>
					Pandeiro: es un tambor circular con parche que se toca con
					una mano y se utiliza para agregar ritmos y patrones.
				</li>
				<li>
					Cuíca: es un instrumento de percusión que produce un sonido
					agudo y distintivo y se utiliza para agregar ritmos y
					efectos sonoros.
				</li>
				<li>
					Reco-reco: es un instrumento de percusión de madera que
					produce un sonido rítmico y se utiliza para agregar ritmos y
					patrones
				</li>
			</ul>
			<h2 class="text-2xl font-bold">
				Las mejores marcas de instrumentos de percusión para batucadas
			</h2>
			<p>
				Encontrarás una amplia variedad de marcas reconocidas en el
				mundo de la percusión. Son fácilmente reconocibles para músicos
				de todo el mundo y representan la calidad y el compromiso de
				estas marcas con la excelencia en la fabricación de instrumentos
				de percusión.
			</p>
			<div class="flex flex-wrap gap-4">
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/meinl.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/izzo.jpg"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/lp.jpg"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/gretsch.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/contemporanea.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/timbra.webp"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/gon-bops.jpeg"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/gonalca.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/ipanema.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/luen.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/pearl.png"
					alt=""
				/>
				<img
					class="object-contain h-24 grayscale saturate-200"
					src="/images/brands/remo.png"
					alt=""
				/>
			</div>
		</main>
		<Footer />
	</body>
</html>
