---
import Layout from "../layouts/Layout.astro";

import brands from "../data/brands.json";
import ItemSection from "../components/ItemSection.astro";
---

<Layout>
	<p>
		Si eres un amante de la música y buscas un sonido único y vibrante,
		estás en el lugar correcto.
	</p>
	<h1>Principales instrumentos de batucada</h1>
	<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
		<ItemSection
			href="/instrumento/surdo"
			image="/images/instruments/Surdo.jpg"
			title="Surdo"
			description="El tambor principal de la batucada y se usa para marcar el ritmo de la música."
		/>
		<ItemSection
			href="/instrumento/caixa"
			image="/images/instruments/caixa.jpg"
			title="Caixa"
			description="Similar a una caja de ritmos y se utiliza para agregar ritmos y patrones."
		/>
		<ItemSection
			href="/instrumento/repinique"
			image="/images/instruments/repinique.jpg"
			title="Repinique"
			description="Es un tambor de mano utilizado para tocar ritmos de samba y acentuar el ritmo general."
		/>
		<ItemSection
			href="/instrumento/cuica"
			image="/images/instruments/Cuica-profil.jpg"
			title="Cuica"
			description="Produce un sonido agudo y distintivo y se utiliza para agregar ritmos y efectos sonoros."
		/>
		<ItemSection
			href="/instrumento/tamborim"
			image="/images/instruments/tamborim.jpg"
			title="Tamborim"
			description="Es un tambor pequeño que se toca con una baqueta y se utiliza para agregar ritmos y patrones."
		/>
		<ItemSection
			href="/instrumento/agogo"
			image="/images/instruments/agogo.jpg"
			title="Agogó"
			description="Es un instrumento de percusión de metal que se utiliza para agregar ritmos y patrones."
		/>
	</div>
	<!-- 
				Pandeiro: es un tambor circular con parche que se toca con
				una mano y se utiliza para agregar ritmos y patrones.
				Reco-reco: es un instrumento de percusión de madera que
				produce un sonido rítmico y se utiliza para agregar ritmos y
				patrones
		 -->
	<h2 class="text-2xl font-bold">
		Las mejores marcas de instrumentos de percusión para batucadas
	</h2>
	<p>
		Encontrarás una amplia variedad de marcas reconocidas en el mundo de la
		percusión. Son fácilmente reconocibles para músicos de todo el mundo y
		representan la calidad y el compromiso de estas marcas con la excelencia
		en la fabricación de instrumentos de percusión.
	</p>
	<div class="flex flex-wrap gap-4">
		{
			brands.map((brand) => (
				<a href={`/marca/${brand.slug}`} class="">
					<img
						class="object-contain h-24 grayscale saturate-200"
						src={brand.image}
						alt={brand.name}
					/>
				</a>
			))
		}
	</div>
</Layout>
