---
---

<footer class="max-w-4xl mx-auto p-4 flex items-end justify-between text-xs">
    <div>
        <ul>
            <li>
                <a href="/aviso-legal" class="text-gray-500">Aviso legal</a>
            </li>
        </ul>
    </div>
    <div class="text-right text-gray-500">
        <img
            src="/images/pago-seguro-amazon-1.webp"
            alt="Pago Seguro a través de Amazon"
            width="300"
            height="60"
        />
        Pago Seguro a través de Amazon
    </div>
</footer>
