<header class="bg-primary text-white">
	<div class="container mx-auto py-4 px-4 flex items-center justify-between">
		<a href="/" class="text-center text-black">
			<span class="block text-[9px]">- instrumentos -</span>
			<span class="block text-xl font-extrabold leading-none"
				>BATUCADA</span
			>
		</a>
		<!-- <nav class="space-x-4">
			<HeaderLink href="/instrumento">Instrumentos</HeaderLink>
			<HeaderLink href="/marcas">Marcas</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</nav> -->
	</div>
</header>
