---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="flex items-center justify-between py-2 px-4 bg-black text-white">
	<h2>
		{SITE_TITLE}
	</h2>
	<nav class="space-x-4">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
	</nav>
</header>
