---
import HeaderLink from "./HeaderLink.astro";
---

<header class="sticky top-0 z-10 bg-white shadow">
	<div
		class="max-w-4xl mx-auto pt-2 pb-3 px-4 flex items-center justify-between"
	>
		<a href="/" class="text-center text-black">
			<span class="block text-sm leading-none">· instrumentos ·</span>
			<span
				class="text-4xl font-bold leading-none bg-gradient-to-r from-primary to-secondary inline-block text-transparent bg-clip-text"
				>BATUCADA</span
			>
		</a>
		<nav class="space-x-4">
			<HeaderLink href="/correas">Correas</HeaderLink>
			<HeaderLink href="/fundas-para-surdo">
				Fundas para surdos
			</HeaderLink>
			<!-- <HeaderLink href="/todas-las-marcas">Marcas</HeaderLink> -->
			<!-- <HeaderLink href="/about">Comprar</HeaderLink> -->
		</nav>
	</div>
</header>
